.homeStyle {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.homeStyle img {
    height: 350px;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
    50% {
        -moz-transform: rotate(40deg);
    }
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotate(40deg);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}

.aboutApp {
    align-items: center;
    text-align: center;
}

.aboutApp p {
    font-size: 16px;
    font-weight: 600;
}


@media(max-width:991px) {

    .homeStyle img {
        height: 250px;
    }

    .aboutApp p {
        font-size: 14px;
        font-weight: 600;
    }

    .aboutApp {
        padding: 10%;
    }
}